body {
  font-family: Arial;
  background: #f4f4f4;
  display: flex;
  justify-content: center;
  padding: 40px;
}

.container {
  background: #fff;
  padding: 20px;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #aaa;
}

.input-area {
  display: flex;
  gap: 10px;
}

#todoInput {
  flex: 1;
  padding: 10px;
}

#addBtn {
  padding: 10px;
}

ul {
  margin-top: 20px;
  padding: 0;
}

li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 8px;
  background: #eee;
  margin-bottom: 8px;
  border-radius: 5px;
}

.completed {
  text-decoration: line-through;
  color: gray;
}